{% extends "base.html" %}


{% block title %}Главная страница{% endblock title %}

{% block content %}
    <h1>Задание</h1>
    <ul>
        <li>Создать страницу, на которой будет форма для ввода имени и электронной почты</li>
        <li>При отправке которой будет создан cookie файл с данными пользователя</li>
        <li>Также будет произведено перенаправление на страницу приветствия, где будет отображаться имя пользователя.</li>
        <li>На странице приветствия должна быть кнопка "Выйти"</li>
        <li>При нажатии на кнопку будет удален cookie файл с данными пользователя и произведено перенаправление на страницу ввода имени и электронной почты.</li>
    </ul>
{% endblock content %}